.container{
    display: grid;
    grid-template-columns:300px 300px;
    grid-auto-rows:minmax(200px, auto) ;
    grid-auto-columns: minmax(400px, auto);
    gap: 10px;
    justify-content: center;
  
}
.item{
    background-color: black;
    margin: 0;
    padding: 0;
}
.item-1{
    background-image: url(/images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    
}
.item-1 p{
    background-color: white;
    opacity: 0.6;
    padding: 15px;
    font-weight: 600;
    text-align:left;
    background-size: cover;
    transition: 1s;
    transform: scaleX(0);
    transform-origin: left;
    
}
.item-1:hover p{
    transform: scaleX(1);
}
.item-2{
    background-image: url(/images/download\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}
.item-2 p{
    background-color: black;
    opacity: 0.6;
    padding: 15px;
    font-weight: 800;
    text-align:left;
    background-size: cover;
    transition: 1s;
    transform: scaleX(0);
    transform-origin: right;
    color: white;
    
}
.item-2:hover p{
    transform: scaleX(1);
}
.item-3{
    background-color: white;
    display: flex;
    text-align: center;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.item-3 img{
    border-radius: 50%;
    transition: 1s ease-in-out;
    display: block;
    width: 150px;
    height: 150px;
}
.item-3:hover img{
    transform: rotate(2turn);
}
.div::after{
    content:"MERCEDES BENZ";
    top: 0;
    left: 0;
    bottom: 0;
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: larger;
}
.item-4{
    background-image: url(/images/download\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    text-align: center;
    background-color: rgb(44, 22, 22, 0.5);
}
.item-4 p{
    background-color: black;
    opacity: 0.6;
    padding: 15px;
    font-weight: 800;
    text-align:left;
    background-size: cover;
    transition: 1s;
    transform: scaleX(0);
    transform-origin:top;
    color: white;
}
.item-4:hover p{
    transform: scaleX(1);
}
.item-4:hover {
    transform: scale(1.03);
}
@media screen and (max-width:780px)  {
    .container{
        display: grid;
        grid-template-columns: 300px;
        grid-auto-columns: minmax(300px, auto);
    }
}
